/* ##################################################### 1) INITIAL PAGE STYLING ##################################################### */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(180deg, rgb(31, 24, 31) 100%);
    color: white;
    min-height: 100vh;
    position: relative;
  }
  #gradient-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    z-index: 5;
  }
  .livetrack-hub {
    position: relative;
    width: 100%;
    height: 100%;
    transition:cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  
/* ##################################################### 2) MAIN GRID LAYOUT ##################################################### */
  .frame {
    display: grid;
    grid-template-columns: 0px 1fr 310px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "button dashboard dashboard"
      "button map       status";
    gap: 20px;
    width: 90vw;
    height: 90vh;
    margin: 40px auto;
    padding: auto;
    transition: grid-template-columns 0.3s ease;
    position: relative;
    z-index: 30;
  }
  body.nav-active .frame {
    grid-template-columns: 225px 1fr 310px;
  }
  
/* ##################################################### 3) HAMBURGER-BUTTON ##################################################### */
  .nav-but-wrap {
    position: absolute; 
    top: 0px;
    left: 30px;
  
    display: inline-block;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: 26px;
    transition: all 0.3s ease-out;
  }
  .menu-icon {
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: block;
  }
  .menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 7px;
    cursor: pointer;
  
    -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
    transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, background-color 0.5s ease;
    transition: transform 0.2s ease, background-color 0.5s ease, -webkit-transform 0.2s ease;
  }
  .menu-icon__line-left {
    width: 16.5px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .menu-icon__line-right {
    width: 16.5px;
    float: right;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .menu-icon:hover .menu-icon__line-left,
  .menu-icon:hover .menu-icon__line-right {
    width: 30px;
  }
  
  body.nav-active .menu-icon__line {
    background-color: #fff;
    -webkit-transform: translate(0px, 0px) rotate(-45deg);
    transform: translate(0px, 0px) rotate(-45deg);
  }
  body.nav-active .menu-icon__line-left {
    width: 15px;
    -webkit-transform: translate(2px, 4px) rotate(45deg);
    transform: translate(2px, 4px) rotate(45deg);
  }
  body.nav-active .menu-icon__line-right {
    width: 15px;
    float: right;
    -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
    transform: translate(-3px, -3.5px) rotate(45deg);
  }
  body.nav-active .menu-icon:hover .menu-icon__line-left,
  body.nav-active .menu-icon:hover .menu-icon__line-right {
    width: 15px;
  }
  
  
/* ##################################################### 4) BUTTON-PANEL ##################################################### */
  .button-panel {
    top: 0px;
    left: -250px;
    grid-area: button;
    position: fixed;
    height: 100vh;
    background-color: var(--glassy-panel);
    border-radius: 0px;
    overflow: hidden;
    transition: left 0.3s ease;
  }

  body.nav-active .button-panel {
    left: 0px;
  }
  
  .button-panel::before,
  .button-panel::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.25);
    filter: blur(10px);
    border-bottom-right-radius: 200%;
    z-index: -1;
    transition:
      border-radius 0.8s linear,
      width 0.6s cubic-bezier(0.77, 0, 0.175, 1),
      height 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .button-panel::after {
    background-color: rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 300%;
    box-shadow: 6px 7px 28px rgba(0, 0, 0, 0.5);
    transition-delay: 0.2s;
  }
  .button-panel::before {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 6px 7px 28px rgba(0, 0, 0, 0.5);
    transition-delay: 0.5s;
  }
  
  .nav-active .frame .button-panel::before,
  .nav-active .frame .button-panel::after {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  
/* ##################################################### 5) BUTTON-PANEL CONTENTS ##################################################### */
  .button-panel__content {
    position: relative;
    padding: 20px;
  }
  
  .panel-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .panel-list-item {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin: 100px 0;
  }
  .panel-list-item a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 40px;
    display: inline-block;
    transition: color 0.2s;
  }
  .panel-list-item a:hover {
    color: #fff;
  }
  .panel-list-item.active-link a {
    color: #fff;
  }
  .nav-active .frame .panel-list-item {
    opacity: 1;
    transform: translateX(0);
  }

  .nav-active .frame .panel-list-item:nth-child(1) {
    transition-delay: 0.6s;
  }
  .nav-active .frame .panel-list-item:nth-child(2) {
    transition-delay: 0.7s;
  }
  .nav-active .frame .panel-list-item:nth-child(3) {
    transition-delay: 0.8s;
  }
  .nav-active .frame .panel-list-item:nth-child(4) {
    transition-delay: 0.9s;
  }
  
/* ##################################################### 6) DASHBOARD-PANEL ##################################################### */
  .dashboard-panel {
    grid-area: dashboard;
    background-color: var(--glassy-panel);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .dash-label {
    font-size: 1.2rem;
    font-weight: 600;
  }

  #clock-container {
    position: absolute;
    top: 12px;
    right: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: right;
  }
  #clock {
    display: block;
    font-size: 24px;
    font-weight: bold;
  }
  #date {
    font-size: 16px;
    color: #ccc;
  }
  
/* ##################################################### 7) MAP-PANEL ##################################################### */
  .map-panel {
    grid-area: map;
    background-color: var(--glassy-panel);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
  }

  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  #pano {
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: block;
  }

  .view-panel {
    height: 100vh;
    width: 100vw;
    display: block;
  }
  .hidden {
    display: none;
  }
  
/* ##################################################### 8) STATUS-PANEL ##################################################### */
  .status-panel {
    grid-area: status;
    background-color: var(--glassy-panel);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .status-label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
 /* ##################################################### 9) STATUS-PANEL CONTENTS ##################################################### */
  #status-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .status-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 1);
    padding: 20px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s ease, transform 0.5s ease;
  }
  .status-item:hover{
    transform: scale(1.05);
    border: 1px solid rgba(255, 255, 255, 0.75);
  }
  .status-name {
    font-size: 22px;
    font-weight: bold;
  }
  .status-item:hover .status-name {
    transition: color 0.5s ease;
  }
  .status-text {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .status-text.home {
    background: #246CF9;
    color: rgb(255, 255, 255);
  }
  .status-text.away {
    background: #CE244D;
    color: white;
  }
  .status-item.home{
    background: rgba(36, 108, 249, 0.75);
  }
  .status-item.away{
    background: rgba(206, 36, 77, 0.75);
  }
  .status-item.home:hover{
    filter: drop-shadow(black 0 0.5rem 5px);
    transition: ease 0.5s;
  }
  .status-item.away:hover{
    filter: drop-shadow(black 0 0.5rem 5px);
    transition: ease 0.5s;
  }

 /* ##################################################### 10)   ##################################################### */