/* ##################################################### 1) INITIAL PAGE STYLING ##################################################### */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(180deg, rgb(31, 24, 31) 100%);
    color: white;
    min-height: 100vh;
    position: relative;
  }
  
  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .label {
    position: absolute;
    top: 275px;
    left: 25px;
    padding: 20px;
    z-index: 50;
  }
  .livetrack-hub {
    width: 100%;
    height: 100%;
  }
  
/* ##################################################### 2) MAIN GRID LAYOUT ##################################################### */
  .frame {
    display: grid;
    grid-template-columns: 0px 1fr 310px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "button dashboard dashboard"
      "button map       status";
    gap: 20px;
    width: 90vw;
    height: 90vh;
    margin: 40px auto;
    padding: 20px;
    transition: grid-template-columns 0.3s ease;
    position: relative;
  }
  body.nav-active .frame {
    grid-template-columns: 275px 1fr 310px;
  }
  
/* ##################################################### 3) HAMBURGER-BUTTON ##################################################### */
  .nav-but-wrap {
    position: absolute; 
    top: 0px;
    left: 30px;
  
    display: inline-block;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: 26px;
    transition: all 0.3s ease-out;
  }
  .menu-icon {
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: block;
  }
  .menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #fff;
    margin-bottom: 7px;
    cursor: pointer;
  
    -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
    transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, background-color 0.5s ease;
    transition: transform 0.2s ease, background-color 0.5s ease, -webkit-transform 0.2s ease;
  }
  .menu-icon__line-left {
    width: 16.5px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .menu-icon__line-right {
    width: 16.5px;
    float: right;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .menu-icon:hover .menu-icon__line-left,
  .menu-icon:hover .menu-icon__line-right {
    width: 30px;
  }
  
  body.nav-active .menu-icon__line {
    background-color: #fff;
    -webkit-transform: translate(0px, 0px) rotate(-45deg);
    transform: translate(0px, 0px) rotate(-45deg);
  }
  body.nav-active .menu-icon__line-left {
    width: 15px;
    -webkit-transform: translate(2px, 4px) rotate(45deg);
    transform: translate(2px, 4px) rotate(45deg);
  }
  body.nav-active .menu-icon__line-right {
    width: 15px;
    float: right;
    -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
    transform: translate(-3px, -3.5px) rotate(45deg);
  }
  body.nav-active .menu-icon:hover .menu-icon__line-left,
  body.nav-active .menu-icon:hover .menu-icon__line-right {
    width: 15px;
  }
  
  
/* ##################################################### 4) BUTTON-PANEL ##################################################### */
  .button-panel {
    grid-area: button;
    position: relative;
    background: rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .button-panel::before,
  .button-panel::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.25);
    filter: blur(10px);
    border-bottom-right-radius: 200%;
    z-index: -1;
    transition:
      border-radius 0.8s linear,
      width 0.6s cubic-bezier(0.77, 0, 0.175, 1),
      height 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .button-panel::after {
    background-color: rgba(0, 0, 0, 0.2);
    background-size: 300%;
    z-index: 5;
    box-shadow: 6px 7px 50px 0 rgba(187, 187, 187, 0.5);
  }
  
  .nav-active .frame .button-panel::before,
  .nav-active .frame .button-panel::after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  
/* ##################################################### 5) BUTTON-PANEL CONTENTS ##################################################### */
  .button-panel__content {
    position: relative;
    padding: 20px;
  }
  
  .panel-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .panel-list-item {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin: 12px 0;
  }
  .panel-list-item a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 40px;
    display: inline-block;
    transition: color 0.2s;
  }
  .panel-list-item a:hover {
    color: #fff;
  }
  .panel-list-item.active-link a {
    color: #fff;
  }
  .nav-active .frame .panel-list-item {
    opacity: 1;
    transform: translateX(0);
  }
  
/* ##################################################### 6) DASHBOARD-PANEL ##################################################### */
  .dashboard-panel {
    grid-area: dashboard;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .dash-label {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
/* ##################################################### 7) MAP-PANEL ##################################################### */
  .map-panel {
    grid-area: map;
    background-color: #a1a1a1;
    border-radius: 20px;
    position: relative;
  }
  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
/* ##################################################### 8) STATUS-PANEL ##################################################### */
  .status-panel {
    grid-area: status;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .status-label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
 /* ##################################################### 9) STATUS-PANEL CONTENTS ##################################################### */
  #status-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .status-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(34, 36, 44, 0.8);
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  .status-item:hover {
    background: rgba(48, 224, 161, 0.8);
    transform: scale(1.05);
  }
  .status-name {
    font-size: 16px;
    font-weight: bold;
  }
  .status-text {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .status-text.home {
    background: rgba(17, 202, 190, 1);
    color: black;
  }
  .status-text.away {
    background: rgba(250, 34, 86, 1);
    color: white;
  }
  